.user-info {
  .user-info__content {
    .content__left {
      @media #{$info-phone} {
        grid-column: 1 / span 3;
      }
      @media #{$info-phone-2} {
        grid-column: 1 / span 12;
        @include flex();
        min-height: 280px;
        .left__head {
          margin-bottom: 0;
          width: 50%;
          min-height: 0;
        }
        .left__foot {
          width: 50%;
          min-height: 0;
        }
      }
      @media #{$info-phone-4} {
        min-height: 300px;
      }
    }
    .content__right-mananger {
      grid-column: 4 / span 9;

      .right-mananger__info {
        background-color: #fff;
        margin-bottom: 15px;
        .info__head {
          @include flex();
          justify-content: space-between;
          margin-bottom: 11px;
          padding: 0 26px;
          .head__left {
            li {
              padding: 9px 30px;
              @media #{$info-phone-3} {
                padding: 6px 13px;
              }
            }
          }
          .head__right {
            @include flex();
            a {
              text-decoration: none;
              color: #ea4036;
              @include font-size(14px);
            }
            ul {
              margin-left: 12px;
              li {
                padding: 9px 0px;
                &.active {
                  background-color: #8f9194;
                  &::after {
                    border-bottom: 10px solid #58595b;
                  }
                }
                a {
                  color: #fff;
                }
                @media #{$info-phone-3} {
                  padding: 6px 0;
                  min-width: 80px;
                }
              }
              @media #{$info-phone-3} {
                margin-left: 6px;
              }
            }
          }
          @media #{$info-phone-3} {
            padding: 0 16px;
          }
        }
        .info__info-search {
          color: #000000;
          @include font-size(14px);
          margin-bottom: 29px;
          padding: 0 26px;
          span {
            color: #808081;
          }
        }
        .info__wrap {
          overflow: scroll;
          .wrap__table {
            min-width: 700px;
            thead {
              th {
                padding: 12px 25px;
                text-align: center;
                white-space: nowrap;
                border-bottom: 1px solid #e5e5e4;
                border-top: 1px solid #e5e5e4;
                @include font-size(14px);
                color: #808081;
                font-weight: normal;
                // @media #{$info-tablet-vertical-1} {
                //   padding: 12px 0px;
                // }
              }
            }
            tbody {
              td {
                vertical-align: top;
                padding: 20px 24px;
                border-bottom: 1px solid #e5e5e4;
                a {
                  @include font-size(14px);
                  font-weight: bolder;
                  color: #01adab;
                }
                p {
                  @include font-size(14px);
                  color: #434343;
                }
                // @media #{$info-tablet-vertical-1} {
                //   padding: 20px 8px;
                // }
                // @media #{$info-phone-3} {
                //   padding: 15px 2px;
                // }
              }
              td:nth-child(1) {
                padding-left: 25px;
              }
              td:nth-child(2) {
              }
              td:nth-child(3) {
                @media #{$info-phone} {
                  p {
                    word-break: break-all;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  }
                }
              }
              td:nth-child(4) {
                p {
                  font-weight: bolder;
                  white-space: nowrap;
                }
              }
              td:nth-child(5) {
                white-space: nowrap;
              }
            }
          }
        }
      }
      @media #{$info-tablet-vertical-1} {
        grid-column: 5 / span 8;
      }

      @media #{$info-phone} {
        grid-column: 4 / span 9;
      }
      @media #{$info-phone-2} {
        grid-column: 1 / span 12;
      }
    }
  }
}
