.user-info {
  background-color: #ebebeb;
  padding: 20px 0;
  .user-info__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 13.5px;
    .content__left {
      grid-column: 1 / span 3;
      .left__head {
        background-color: #fff;
        padding: 0 14px;
        min-height: 353px;
        margin-bottom: 22px;
        h3 {
          padding: 15px 0;
          @include font-size(15px);
          color: #505050;
          border-bottom: 1px solid #e2e3e4;
          font-weight: bolder;
        }
        ul {
          list-style: none;
          padding: 20px 0;
          li {
            @include flex();
            align-items: center;
            margin-bottom: 14px;

            .fas {
              color: #01adab;
              @include font-size(10px);
              i {
                font-weight: bold;
              }
            }
            a {
              color: #505050;
              margin-left: 6px;
              @include font-size(14px);
            }
            &.active {
              a {
                font-weight: bold;
              }
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
      .left__foot {
        background-color: #fff;
        padding: 0 14px;
        min-height: 415px;
        .foot__title {
          li {
            padding: 9px 0;
            left: 18px;
            h2 {
              color: #808081;
              font-weight: bolder;
            }
            &.active {
              background-color: #eee8a9;
              &::after {
                border-bottom: 10px solid #c6be85;
              }
            }
          }
        }
        .foot__block {
          .block__image {
            height: 198px;
            margin-bottom: 15px;
            img {
              height: 100%;
            }
          }
          h2 {
            color: #01adab;
            @include font-size(14px);
            font-weight: bolder;
            margin-bottom: 6px;
          }
          p {
            color: #434343;
            @include font-size(20px);
            margin-bottom: 44px;
          }
          a {
            color: #01adab;
            @include font-size(12px);
          }
        }
      }
    }
    .content__right-info {
      grid-column: 4 / span 9;

      .right-info__content {
        background-color: #fff;
        padding: 0 70px 46px 70px;
        .content__title {
          li {
            top: -10px;
            left: 30px;
          }
        }
        .content__form {
          .form__content {
            display: flex;
            justify-content: space-between;
            .content__info {
              width: 51%;
              margin-bottom: 36px;
              .form-group {
                label {
                  font-weight: normal;
                  color: #434343;
                  @include font-size(16px);
                }
                .custom-radios {
                  justify-content: space-between;
                  padding: 0;
                }
              }
              p {
                text-align: left;

                @include font-size(14px);
                color: #808081;
                span {
                  color: #ea4036;
                }
              }
            }
            .content__change-pass {
              padding-left: 79px;
              width: 49%;
              .change-pass__checkbox {
                @include font-size(16px);
                margin-bottom: 27px;
                color: #434343;
              }
            }
          }
          .form__button {
            a {
              display: block;
              width: 100%;
              padding: 13px 0;
              color: #fff;
              border: none;
              border-radius: 5px;
              text-align: center;
              font-weight: bolder;
            }
            .button__log {
              background-color: #01adab;
            }
          }
        }
      }
    }
  }
}
