.service {
  padding-top: 20px;
  .service__content {
    display: flex;
    justify-content: space-between;
    @media #{$info-tablet-horizontal} {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  @media #{$info-phone} {
    display: none;
  }
}
