.cart {
  background-color: #ebebeb;
  padding: 21px 0 210px 0;
  .cart__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 13.5px;
    .content__left {
      grid-column: 1 / span 8;
      background-color: #fff;

      .left__content {
        margin: 25px;
        ul {
          list-style: none;
          @include flex();
        }
        .content__title {
          @include flex();
          align-items: center;
          justify-content: space-between;
          li {
            white-space: nowrap;
            padding: 2px 0;
            font-weight: bolder;
            color: #808081;
            @include font-size(14px);
          }
          li:nth-child(1) {
            width: 300px;
            @media #{$info-phone-2} {
              width: 200px;
            }
            @media #{$info-phone-4} {
              width: 100px;
            }
          }
          li:nth-child(2) {
            padding-left: 50px;
          }
          li:nth-child(3) {
            padding-right: 15px;
          }
        }
        .content__products {
          .products__item {
            border-top: 1px solid #e5e5e4;
            @include flex();
            align-items: center;
            justify-content: space-between;
            .item__image {
              @include flex();
              height: 112px;
              align-items: center;
              img {
                @media #{$info-phone-3} {
                  width: 50%;
                }
                @media #{$info-phone-4} {
                  width: 25%;
                }
              }
              div {
                width: 300px;
                margin-left: 25px;
                p {
                  @include font-size(14px);
                  color: #434343;
                }
                a {
                  @include font-size(14px);
                  color: #ea4036;
                  border-bottom: 1px solid #ea4036;
                }
                @media #{$info-phone-2} {
                  width: 200px;
                  margin-left: 15px;
                }
                @media #{$info-phone-3} {
                  width: 150px;
                  margin-left: 5px;
                }
              }
              // @media #{$info-phone-2} {
              //   height: 90px;
              // }
              // @media #{$info-phone-3} {
              //   height: 70px;
              // }
              // @media #{$info-phone-4} {
              //   height: 50px;
              // }
            }
            .item__price {
              text-align: center;

              p {
                color: #505050;
                @include font-size(20.5px);
                font-weight: bolder;
                @media #{$info-phone-3} {
                  @include font-size(14px);
                }
              }
              span {
                color: #cccccc;
                @include font-size(10.5px);
                text-decoration: line-through;
              }
            }
            .item__quantity {
              .quantity__input {
                @include flex();
                justify-content: center;
                .form-control {
                  height: 25px;
                  width: 34px;
                  @include font-size(11.46px);
                  text-align: center;

                  @media #{$info-phone-3} {
                    height: 20px;
                    width: 25px;
                    padding: 0;
                  }
                }
                .input__minus {
                  button {
                    border-radius: 10px 0 0 10px;
                    height: 25px;
                    border: 1px solid #e2e3e4;
                    @media #{$info-phone-3} {
                      height: 20px;
                    }
                  }
                }
                .input__plus {
                  button {
                    height: 25px;
                    border-radius: 0 10px 10px 0;
                    border: 1px solid #e2e3e4;
                    @media #{$info-phone-3} {
                      height: 20px;
                    }
                  }
                }
              }
            }
          }
        }
        // table {
        //   width: 100%;
        //   th {
        //     color: #808081;
        //     @include font-size(14px);
        //     font-weight: normal;
        //   }
        //   th:nth-child(2),
        //   th:nth-child(3) {
        //     text-align: center;
        //   }
        //   td {
        //     padding: 25px 50px;
        //     @media #{$info-desktop} {
        //       padding: 25px 20px;
        //     }
        //     @media #{$info-tablet-horizontal} {
        //       padding: 25px 5px;
        //     }
        //   }

        //   .product {
        //     @include flex();
        //     padding-left: 0;
        //     .product__name {
        //       width: 300px;
        //       margin-left: 25px;
        //       p {
        //         @include font-size(14px);
        //         color: #434343;
        //       }
        //       a {
        //         @include font-size(14px);
        //         color: #ea4036;
        //         border-bottom: 1px solid #ea4036;
        //       }
        //       @media #{$info-tablet-horizontal} {
        //         margin-left: 10px;
        //       }
        //       @media #{$info-phone} {
        //         width: 150px;
        //       }
        //       @media #{$info-phone-2} {
        //         width: 100px;
        //       }
        //     }
        //   }
        //   .price {
        //     text-align: center;

        //     p {
        //       color: #505050;
        //       @include font-size(20.5px);
        //       font-weight: bolder;
        //     }
        //     span {
        //       color: #cccccc;
        //       @include font-size(10.5px);
        //       text-decoration: line-through;
        //     }
        //   }
        //   .quantity {
        //     .quantity__input {
        //       @include flex();
        //       justify-content: center;
        //       .form-control {
        //         height: 25px;
        //         width: 34px;
        //         @include font-size(11.46px);
        //         text-align: center;

        //         @media #{$info-phone-2} {
        //           height: 25px;

        //           padding: 0;
        //         }
        //       }
        //       .input__minus {
        //         button {
        //           border-radius: 10px 0 0 10px;
        //           height: 25px;
        //           border: 1px solid #e2e3e4;
        //         }
        //       }
        //       .input__plus {
        //         button {
        //           height: 25px;
        //           border-radius: 0 10px 10px 0;
        //           border: 1px solid #e2e3e4;
        //         }
        //       }
        //     }
        //   }
        // }
      }
      @media #{$info-tablet-vertical} {
        grid-column: span 12;
      }
      @media #{$info-phone-2} {
        padding: 0 10px;
      }
    }
    .content__right {
      grid-column: 9 / span 4;
      .right__top {
        padding: 25px;
        background-color: #fff;
        margin-bottom: 13.5px;

        p {
          color: #505050;
          @include font-size(14px);
          font-weight: bolder;
          border-bottom: 0.75px solid #e2e3e4;
          padding-bottom: 13px;
          margin-bottom: 13px;
        }
        .top__input {
          @include flex();

          .form-control {
            height: auto;
          }
          .input-group-append {
            button {
              @include font-size(18.1px);
              font-weight: bolder;
            }
          }
        }
      }
      .right__midle {
        padding: 25px;
        background-color: #fff;
        margin-bottom: 13.5px;
        .midle__price {
          @include flex();
          justify-content: space-between;
          margin-bottom: 12px;
          p {
            color: #505050;
            @include font-size(14px);
          }
        }
        .midle__discount {
          @include flex();
          justify-content: space-between;
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 0.75px solid #e2e3e4;
          p {
            color: #505050;
            @include font-size(14px);
          }
        }
        .midle__total {
          @include flex();
          justify-content: space-between;

          p {
            color: #505050;
            @include font-size(14px);
          }
          div {
            p {
              color: #fa434e;
              @include font-size(21.29px);
              font-weight: bolder;
            }
            span {
              @include font-size(12px);
              color: #505050;
            }
          }
        }
      }
      .right__bottom {
        a {
          display: block;
          text-decoration: none;
          width: 100%;
          color: #fff;
          text-align: center;
          @include font-size(22px);
          border-radius: 0;
          font-weight: bolder;
          padding: 12px 0;
        }
      }
      @media #{$info-tablet-vertical} {
        grid-column: span 12;
      }
    }
    .content__empty {
      grid-column: 1 / span 12;
      background-color: #fff;
      min-height: 471px;
      .empty__title {
        @include flex();
        align-items: center;
        justify-content: center;
        height: 100%;
        div {
          text-align: center;
          h2 {
            color: #808081;
            @include font-size(26px);
            margin-bottom: 15px;
          }
          a {
            color: #01adab;
            @include font-size(25px);
          }
        }
      }
    }

    @media #{$info-phone-2} {
      padding: 20px 15px;
    }
  }
  // @media #{$info-phone-2} {
  //   padding: 0 0;
  // }
}
