.cart-payment {
  background-color: #ebebeb;
  padding-bottom: 20px;
  .cart-payment__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 13.5px;

    min-height: 592px;

    .content__left {
      grid-column: 1 / span 8;
      background-color: #fff;
      .left__title {
        justify-content: center;
        li {
          width: 284px;
          padding-top: 18px;
          h2 {
            @include font-size(18px);
          }
        }
      }
      .left__form {
        width: 472px;
        margin: 30px auto 60px auto;
        padding: 0 40px;
        .form__button {
          width: 100%;
          margin-top: 40px;
          margin-bottom: 15px;

          a {
            display: block;
            text-align: center;
            width: 100%;
            margin: 0px 0 10px 0;
            padding: 10px 15px;
            color: #fff;
            border: none;
            border-radius: 5px;
          }
          .button__google {
            background-color: #e94a32;
          }
          p {
            text-align: center;
            color: #808081;
            @include font-size(12px);
          }
        }
        .form__text-foot {
          @include font-size(14px);
          color: #434343;
          span {
            color: #ea4036;
          }
        }
        @media #{$info-phone-2} {
          width: auto;
        }
        @media #{$info-phone-4} {
          width: 250px;
          padding: 0 10px;
        }
      }
      @media #{$info-tablet-horizontal} {
        grid-column: 1 / span 7;
      }
      @media #{$info-tablet-vertical} {
        grid-column: span 12;
      }
    }
    .content__right {
      grid-column: 9 / span 4;
      padding: 24px;
      background-color: #fff;
      max-height: 420px;
      .right__order {
        @include flex();
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        p {
          color: #505050;
          @include font-size(14px);
        }
        a {
          @include font-size(14px);
          color: #505050;
          padding: 5px 12px;
          border: 1px solid #ebebeb;
        }
      }
      .right__products {
        padding: 15px 0;
        border-top: 1px solid #e2e3e4;
        border-bottom: 1px solid #e2e3e4;
        margin-bottom: 15px;
        .products__item {
          @include flex();
          justify-content: space-between;
          margin-bottom: 15px;
          .item__name {
            @include flex();
            p {
              width: 175px;
              margin-left: 13px;
              color: #505050;
              @include font-size(14px);
            }
          }
          p {
            color: #505050;
            @include font-size(14px);
          }
        }
        .products__item:last-child {
          margin-bottom: 0;
        }
      }
      .right__sub {
        @include flex();
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        p {
          color: #505050;
          @include font-size(14px);
        }
      }
      .right__shipping {
        @include flex();
        justify-content: space-between;
        align-items: center;
        // border-bottom: 0.75px solid #e2e3e4;
        // margin-bottom: 15px;
        // padding-bottom: 12px;
        p {
          color: #505050;
          @include font-size(14px);
        }
      }
      .right__total {
        @include flex();
        justify-content: space-between;
        p {
          color: #505050;
          @include font-size(14px);
        }
        div {
          p {
            color: #fa434e;
            @include font-size(21.29px);
          }
          span {
            @include font-size(12px);
            color: #505050;
          }
        }
      }
      @media #{$info-tablet-horizontal} {
        grid-column: 8 / span 5;
      }
      @media #{$info-tablet-vertical} {
        grid-column: span 12;
        margin-bottom: 20px;
      }
    }
  }
}
