.hot-product {
  padding: 16px 30px 80px 30px;
  margin-top: 20px;
  min-height: 832px;
  background-color: #fff;
  .hot-product__title {
    margin-bottom: 20.5px;
    .title__name {
      display: flex;
      align-items: center;

      div {
        margin-left: 10px;
        p:nth-child(1) {
          @include font-size(22px);
          color: #505050;
        }
        p:nth-child(2) {
          @include font-size(18px);
          color: #777777;
        }
      }
    }
  }
  .hot-product__content {
    .content__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      img {
        object-fit: cover;
      }
      img:nth-child(3) {
        grid-row: span 2;
      }
    }
    .owl-nav {
      display: none;
    }
    .owl-dots {
      position: absolute;
      bottom: -5%;
      left: 50%;
      z-index: 5;
      display: flex;
      gap: 10px;
      .owl-dot {
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #969696;
        background: #969696;

        &:focus {
          outline: none;
          background: #36b88c;
          opacity: 1;
        }
      }

      .owl-dot.active {
        background: #36b88c;
        opacity: 1;
        border: 1px solid #36b88c;
      }
    }
  }
}
