.btn--write {
  height: 40px;
  background: #fff;
  border: none;
  color: #838383;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  @include font-size(13.2px);
}
.btn--red {
  background: #fa434e;
  width: 190px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  @include font-size(15px);
  span {
    margin-left: 2px;
  }
}
.btn--search {
  background: #e2e3e4;
  color: #838383;
  padding: 5px 10px;
  white-space: nowrap;
  border: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  cursor: pointer;
  @include font-size(13.2px);
}
.btn--blue {
  background: #01adab;
  color: #fff;
  padding: 10px 15px;
  white-space: nowrap;
  border: none;
  height: 45px;
  width: 119px;
  cursor: pointer;
  @include font-size(13.2px);
  @media #{$info-phone} {
    width: 80px;
  }
}
