<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="common-container nav">
        <div class="nav__top">
          <div class="item">
            <img src="/assets/img/icon-bonus.png" alt="" />

            <a href="" class="item__content">Khuyến mãi HOT</a>
          </div>
          <div class="item">
            <div class="item__img">
              <img src="/assets/img/icon-ring.png" alt="" />
            </div>
            <div class="item__content">
              <a href="">Thông báo</a>
              <p>của tôi</p>
            </div>
          </div>
          <div class="item">
            <img src="/assets/img/icon-user.png" alt="" />
            <div class="item__content">
              <a href="" data-toggle="modal" data-target="#ModalLogin"
                >Đăng Nhập</a
              >
              <p>Tài khoản</p>
            </div>
          </div>
        </div>
        <div class="nav__midle">
          <a href="">
            <img src="/assets/img/logo.png" alt="" />
          </a>
          <div class="input-group midle__input">
            <input type="text" class="form-control" placeholder="Bạn đang tìm thuốc gì..." />
            <div class="input-group-append">
              <button class="btn--search" type="submit">Tìm kiếm</button>
            </div>
          </div>
          <a
            href="/views/upload-toa/upload-toa.html"
            class="btn--write midle__btn"
          >
            <img src="/assets/img/icon-create.png" alt="" />
            <p>Tạo đơn thuốc</p>
          </a>
          <a href="/views/cart/cart.html" class="btn--write midle__btn">
            <img src="/assets/img/icon-cart.png" alt="" />
            <p>Giỏ Hàng</p>
            <span>69</span>
          </a>
        </div>
        <ul class="nav__bottom">
          <li>
            <img src="/assets/img/icon-cate.png" alt="" />
            <a href=""> DANH MỤC SẢN PHẨM</a>
          </li>
          <li>
            <div>
              <img src="/assets/img/icon-fire.png" alt="" />
            </div>
            <a href=""> KHUYẾN MÃI HOT</a>
          </li>
          <li>
            <img src="/assets/img/icon-local.png" alt="" />
            <a href="">HỆ THÔNG NHÀ THUỐC</a>
          </li>
          <li>
            <img src="/assets/img/icon-hear.png" alt="" />
            <a href="">GÓC SỨC KHỎE</a>
          </li>
          <li>
            <img src="/assets/img/icon-home.png" alt="" />
            <a href="">GIỚI THIỆU</a>
          </li>
          <li>
            <div>
              <img src="/assets/img/icon-question.png" alt="" />
            </div>
            <a href="">HƯỚNG DẪN</a>
          </li>
        </ul>
      </div>
      <div class="nav-scroll">
        <div class="common-container nav-scroll__content">
          <a href="">
            <img src="/assets/img/logo.png" alt="" />
          </a>
          <div class="input-group content__input">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-append">
              <!-- <img src="/assets/img/search.png" /> -->
              <button class="btn--search" type="submit">Tìm kiếm</button>
            </div>
          </div>
          <a
            href="/views/upload-toa/upload-toa.html"
            class="btn--write content__btn"
          >
            <img src="/assets/img/icon-create.png" alt="" />
            <p>Tạo toa thuốc</p>
          </a>
          <a href="/views/cart/cart.html" class="btn--write content__btn">
            <img src="/assets/img/icon-cart.png" alt="" />
            <p>Giỏ Hàng</p>
            <span>69</span>
          </a>
        </div>
      </div>
      <div class="common-container mobile-header">
        <div class="nav-mobile">
          <div class="nav-mobile__bars" onclick="handleClickOpenSidebar()">
            <i class="fas fa-bars"></i>
          </div>

          <img src="/assets/img/logo-1.png" alt="" />
          <div class="nav-mobile__cart">
            <img src="/assets/img/icon-cart.png" alt="" />
            <span>69</span>
          </div>
          <div class="nav-mobile__menu">
            <div class="nav-mobile__menu__head">
              <img src="/assets/img/icon-ring.png" alt="" />
              <div class="btn-close" onclick="handleClickCloseSidebar()">
                <i class="fas fa-window-close"></i>
              </div>
            </div>
            <ul>
              <li>
                <img src="/assets/img/icon-user.png" alt="" />
                <a href="" data-toggle="modal" data-target="#ModalLogin"
                  >ĐĂNG NHẬP</a
                >
              </li>
              <li>
                <img src="/assets/img/icon-create.png" alt="" />
                <a href="/views/upload-toa/upload-toa.html">TẠO TOA THUỐC</a>
              </li>
              <li>
                <img src="/assets/img/icon-cate.png" alt="" />
                <a href="">DANH MỤC SẢN PHẨM</a>
              </li>
              <li>
                <div>
                  <img src="/assets/img/icon-fire.png" alt="" />
                </div>
                <a href="">KHUYẾN MÃI HOT</a>
              </li>
              <li>
                <img src="/assets/img/icon-local.png" alt="" />
                <a href="">HỆ THỐNG NHÀ THUỐC</a>
              </li>
              <li>
                <img src="/assets/img/icon-hear.png" alt="" />
                <a href="">GÓC SỨC KHỎE</a>
              </li>
              <li>
                <img src="/assets/img/icon-home.png" alt="" />
                <a href="">GIỚI THIỆU</a>
              </li>
              <li>
                <div>
                  <img src="/assets/img/icon-question.png" alt="" />
                </div>
                <a href="">HƯỚNG DẪN</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- END HEADER -->

    <main>
      <div class="nav-router">
        <ul class="common-container">
          <li><a href="">Trang chủ</a></li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="" class="active">Sản Phẩm Yêu Thích</a>
          </li>
        </ul>
      </div>
      <section class="user-info">
        <div class="common-container user-info__content">
          <div class="content__left">
            <div class="left__head">
              <h3>Quản Lý Tài Khoản</h3>
              <ul>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  <a href="/views/user-info/user-info.html">Thông tin tài khoản </a>
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  <a href="/views/user-info/mananger-order.html">Quản Lý Đơn Hàng </a>
                </li>
                <li class="active">
                  <i class="fas fa-chevron-right"></i>
                  <a href="/views/user-info/pro-favorite.html">Sản phẩm yêu thích </a>
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  <a href="">Sản phẩm đã xem</a>
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  <a href="/views/user-info/address-number.html">Sổ địa chỉ </a>
                </li>
                <li>
                  <i class="fas fa-chevron-right"></i>
                  <a href="">Thông báo của tôi </a>
                </li>
              </ul>
            </div>
            <div class="left__foot">
              <ul class="foot__title board-title">
                <li class="active">
                  <h2>ĐƯỢC TÀI TRỢ</h2>
                </li>
              </ul>
              <div class="foot__block">
                <div class="block__image">
                  <img src="/assets/img/health/health-2.png" alt="" />
                </div>
                <h2>Sức khỏe giới tính</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                <a href="">Xem thêm</a>
              </div>
            </div>
          </div>
          <div class="content__right-product">
            <div class="right-product__content">
              <ul class="content__title board-title">
                <li class="active">
                  <h2>SẢN PHẨM YÊU THÍCH</h2>
                </li>
              </ul>
              <div class="content__product">
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-2.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-3.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-5.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-1.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-2.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-5.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                    <span>1.000.000đ</span>
                  </div>
                </a>
                <a href="" class="product__item">
                  <div class="item__bonus">
                    <img src="/assets/img/products/ship.png" alt="" />
                    <img src="/assets/img/products/gift.png" alt="" />
                  </div>
                  <img
                    class="item__image"
                    src="/assets/img/products/pro-4.png"
                    alt=""
                  />
                  <div class="item__info">
                    <h3>Thực Phẩm Chức Năng Bổ Não Giảm Triệu Chứng....</h3>
                    <p>999.000đ</p>
                  </div>
                </a>
                <!-- <div class="form__button">
                  <a href="" class="button__log">CẬP NHẬT THAY ĐỔI</a>
                </div> -->
              </div>
            </div>

            <ul class="right-product__paginate common-paginate">
              <li class="active">
                <a href="">1</a>
              </li>
              <li>
                <a href="">2</a>
              </li>
              <li>
                <a href="">3</a>
              </li>
              <li>
                <a href="">4</a>
              </li>
              <li>
                <a href="">5</a>
              </li>
              <li>
                <a href="">></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- USER-INFO -->

      <!-- END USER-INFO -->
    </main>
    <!-- FOOTER -->
    <footer>
      <div class="common-container utilities">
        <div class="utilities__mes">
          <img src="/assets/img/utilities/icon-mes.png" alt="" />
        </div>
        <div class="utilities__content">
          <div class="item">
            <img src="/assets/img/utilities/u-1.png" alt="" />
            <p>San pham chính hãng</p>
          </div>
          <div class="item">
            <img src="/assets/img/utilities/u-2.png" alt="" />
            <p>Giao hàng toàn quốc</p>
          </div>
          <div class="item">
            <img src="/assets/img/utilities/u-3.png" alt="" />
            <p>Thanh toán linh hoạt</p>
          </div>
          <div class="item">
            <img src="/assets/img/utilities/u-4.png" alt="" />
            <p>Tích điểm đổi quà</p>
          </div>
        </div>
      </div>
      <div class="hotline">
        <div class="common-container hotline__content">
          <h2>BẠN CẦN ĐƯỢC TƯ VẤN</h2>
          <button class="btn--write content__button">
            <img src="/assets/img/utilities/icon-2.png" alt="" />
            <p>Gọi ngay <span> 070.376.4616 </span>(miễn phí)</p>
          </button>
          <h2>NHẬP EMAIL NHẬN MÃ GIẢM</h2>
          <button class="btn--write content__button">
            <img src="/assets/img/utilities/icon-1.png" alt="" />
            <p>Nhập email của bạn</p>
          </button>
        </div>
      </div>
      <div class="info">
        <div class="common-container info__content">
          <div class="content__address">
            <img src="/assets/img/logo-1.png" />
            <h2>CÔNG TY CỔ PHẦN DƯỢC PHẨM PHANO</h2>
            <p>Địa chỉ: 31 Hồ Biểu Chánh, P.12, Q.Phú Nhuận, TP.HCM</p>
            <p>MST: 0304860663</p>
            <p>Email: cskh@phanolink.com</p>
            <p>Tel: 1800 6768</p>
          </div>
          <div class="content__suport">
            <h2>HỖ TRỢ KHÁCH HÀNG</h2>
            <div class="item">
              <span>></span>
              <a href="">Chính sách đối trả</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Chính sách giao hàng</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Chính sách bảo mật</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Hướng dẫn thanh toán</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Giải quyết phản hồi</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Giấy phép kinh doanh</a>
            </div>
          </div>
          <div class="content__account">
            <h2>TÀI KHOẢN</h2>
            <div class="item">
              <span>></span>
              <a href="">Đăng ký</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Đăng nhập</a>
            </div>
            <div class="item">
              <span>></span>
              <a href="">Kiểm tra đơn hàng</a>
            </div>
          </div>
          <div class="content__connect">
            <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
            <div class="connect__social">
              <img src="/assets/img/utilities/zalo.png" alt="" />
              <img src="/assets/img/utilities/face.png" alt="" />
              <img src="/assets/img/utilities/gmail.png" alt="" />
              <img src="/assets/img/utilities/youtub.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="common-container copyright">
        <p>© 2019 - Bản quyền thuộc về Công ty CP Dược Phẩm Phano</p>
        <img src="/assets/img/utilities/copyright.png" alt="" />
      </div>
    </footer>
    <!-- END FOOTER -->

    <!-- MODAL LOGIN -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="ModalLogin"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog__login">
        <div class="dialog__content dialog__content-account">
          <ul class="content__title board-title">
            <li class="active" id="title-login">
              <h2>ĐĂNG NHẬP</h2>
            </li>
            <li class="" id="title-register">
              <h2>ĐĂNG KÍ</h2>
            </li>
          </ul>
          <div class="content__form left__form-login">
            <p class="form__text-head">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            </p>
            <form>
              <div class="form-group custom-form">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Nhập Email"
                />
              </div>
              <div class="form-group custom-form">
                <label for="email">Số điện thoại</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập số điện thoại"
                />
              </div>

              <div class="form__not-pass">
                <a href="">Quên mật khẩu ? </a>
                nhấn vào
                <a href=""> đầy</a>
              </div>
              <div class="form__button">
                <button class="button__log">Đăng nhập</button>
                <button class="button__facebook">
                  Đăng nhập bằng Facebook
                </button>
                <button class="button__google">Đăng nhập bằng Google</button>
              </div>
            </form>
          </div>
          <div class="content__form left__form-register" style="display: none">
            <p class="form__text-head">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            </p>
            <form action="">
              <div class="form-group custom-form">
                <label for="name">Họ tên</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập Họ tên"
                />
              </div>
              <div class="form-group custom-form">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Nhập Email"
                />
              </div>
              <div class="form-group custom-form">
                <label for="pwd">Mật khẩu</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Mật khẩu từ 6 đến 32 ký tự"
                />
              </div>
              <div class="form-group custom-form">
                <label for="pwd">Số điện thoại</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nhập số điện thoại"
                />
              </div>
              <div class="form__check">
                <input type="checkbox" />
                <p>Nhận các thông tin và chương trình khuyến mãi qua email</p>
              </div>
              <div class="form__button">
                <button class="button__log" id="btnRegister">Đăng nhập</button>
              </div>
            </form>

            <p class="form__text-foot">
              Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi giao dịch mua
              bán theo điều kiện sử dụng và chính sách của
              <span> PHANOLINK</span>
            </p>
          </div>
          <div
            class="content__form left__form-register-success"
            style="display: none"
          >
            <p class="form__text-foot">
              Tài khoản của bạn đã được khởi tạo thành công. Vui lòng đăng nhập
              vào email<span> abc@gmail.com</span> để tiếp sử dụng dịch vụ tại
              Phanolink.
            </p>

            <div class="form__button">
              <button class="button__log">Đăng nhập</button>
            </div>
          </div>
        </div>
        <!-- content- notpass -->
        <div class="dialog__content dialog__content-notpass">
          <ul class="content__title board-title">
            <li class="active">
              <h2>QUÊN MẬT KHẨU</h2>
            </li>
          </ul>
          <div class="content__form content__form-notpass" id="form-notpass">
            <p class="form__text-head">
              Vui lòng cung cấp email hoặc số điện thoại đăng nhập để lấy lại
              mật khẩu.
            </p>
            <form action="">
              <div class="form-group custom-form">
                <!-- <label for="email">Email</label> -->
                <input
                  type="email"
                  class="form-control"
                  placeholder="Nhập Email"
                />
              </div>
              <div class="form__button">
                <button class="button__log" id="createAccount">
                  Tạo tài khoản
                </button>
              </div>
            </form>
          </div>
          <div
            class="content__form content__form-notpass-success"
            id="notpass-success"
          >
            <p class="form__text-success">
              Hệ thống đã gửi Email đến <span>@phanopharamacy.com</span>, vui
              lòng kiểm tra hộp thư để cập nhật thông tin.
            </p>
            <div class="form__button">
              <button class="button__close">Đóng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL LOGIN -->
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!--carousel-->
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
