.store {
  background-color: #ebebeb;
  padding: 17px 0 44px 0;
  .store__content {
    @include flex();
    .content__left {
      width: 24.25%;
      background-color: #fff;
      .left__head {
        padding: 14px 14px 30px 14px;
        .head__title {
          border-bottom: 1px solid #e5e5e4;
          padding-bottom: 14px;
          margin-bottom: 21px;
          h2 {
            font-weight: bolder;
            @include font-size(15px);
          }
        }
        .head__form {
          .form__select {
            margin-bottom: 16px;
          }
          a {
            display: block;
            background-color: #01adab;
            font-weight: bolder;
            color: #fff;
            padding: 11px 0;
            @include font-size(13px);
            text-align: center;
            border-radius: 5px;
            margin-top: 6px;
          }
        }
      }
      .left__foot {
        .foot__item {
          padding: 15px;
          border-top: 1px solid #e5e5e4;
          h4 {
            color: #01adab;
            @include font-size(14px);
            font-weight: bolder;
            margin-bottom: 3px;
          }
          p {
            color: #808081;
            line-height: 20px;
            @include font-size(13px);
            span {
              color: #434343;
            }
          }
        }
      }
      @media #{$info-tablet-vertical} {
        width: 34.25%;
      }
      @media #{$info-phone} {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .content__right {
      width: 75.75%;
      margin-left: 15px;
      .right__map {
        position: relative;
        background-image: url("/assets/img/store/google-map.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        .map__location {
          @include flex();
          flex-flow: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 40%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          .location__name {
            width: 275px;
            padding: 19px;
            border: 1px solid #e5e5e4;
            border-radius: 10px;
            background-color: #fff;
            margin-bottom: 14px;
            position: relative;
            h4 {
              color: #01adab;
              @include font-size(14px);
              font-weight: bolder;
              margin-bottom: 3px;
            }
            p {
              color: #808081;
              line-height: 20px;
              @include font-size(13px);
              span {
                color: #434343;
              }
            }
            &::before {
              content: "";
              width: 8px;
              height: 8px;
              background-color: #fff;
              position: absolute;
              left: 50%;
              bottom: -4px;
              @include transform(rotate(45deg));
            }
          }
          img {
            width: 21px;
            height: 26px;
          }
        }
      }
      @media #{$info-tablet-vertical} {
        width: 65.75%;
      }
      @media #{$info-phone} {
        width: 100%;
        margin-left: 0px;
        height: 400px;
      }
    }
    @media #{$info-phone} {
      flex-wrap: wrap;
    }
  }
}
